// @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// @mixin center {
//     display: grid;
//     place-items: center;
// }

// .wrapper {
//     font-family: "Poppins", sans-serif;
//     height: 500px;
//     background-color: rgb(152, 163, 162);
//     @include center();
//     * {
//         font-weight: 600;
//         font-size: 5rem;
//         color: #fff;
//     }
// }

.admin-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
