@mixin for-phone {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-smaller-phone {
    @media (max-width: 440px) {
        @content;
    }
}

.intro {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M486 531L485 946' stroke-width='8' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1436 129L1435 -285' stroke-width='10' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M237 176L236 473' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1087 403L1086 159' stroke-width='6' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1200 154L1199 -94' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M709 471L708 732' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M218 28L217 286' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M141 410L140 662' stroke-width='8' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M522 466L521 813' stroke-width='10' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M48 199L47 415' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M668 43L667 -302' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M702 520L701 175' stroke-width='8' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M726 278L725 636' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1366 223L1365 453' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M546 319L545 -82' stroke-width='6' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1218 80L1217 -192' stroke-width='10' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M550 460L549 723' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M154 521L153 705' stroke-width='6' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M194 341L193 493' stroke-width='8' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M708 336L707 -7' stroke-width='6' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1053 3L1052 383' stroke-width='8' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M684 477L683 789' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M217 550L216 211' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M264 290L263 481' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M824 59L823 374' stroke-width='10' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1113 81L1112 -73' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M183 11L182 394' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M90 198L89 -161' stroke-width='6' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M363 300L362 577' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M990 85L989 -328' stroke-width='8' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M527 524L526 914' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M927 200L926 535' stroke-width='8' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M295 497L294 247' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1315 318L1314 172' stroke-width='10' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M249 219L248 -136' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1107 313L1106 22' stroke-width='6' stroke='url(%23SvgjsLinearGradient1012)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1012'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

    @include for-phone() {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .intro-wrapper {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__labels {
            color: rgb(245, 243, 243);
            .title {
                font-size: 3rem;

                @include for-phone() {
                    text-align: center;
                }

                @include for-smaller-phone() {
                    font-size: 2rem;
                }
            }
            .sub-title {
                font-size: 1.5rem;

                @include for-phone() {
                    text-align: center;
                    font-size: 1.4rem;
                }
            }

            @include for-phone() {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 60px;
            }
        }

        .skills {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                li {
                    list-style: none;
                    img {
                        width: 70px;
                        height: auto;
                        object-fit: contain;

                        @include for-smaller-phone() {
                            width: 58px;
                        }
                    }

                    @include for-phone() {
                        flex: 0 0 25%;
                    }
                }

                @include for-phone() {
                    justify-content: center;
                }
            }
        }
    }

    .intro__visuals {
        position: relative;
        display: grid;
        place-items: center;
        .intro__image {
            width: 500px;
            height: auto;
            object-fit: cover;
            border-bottom-right-radius: 40%;
            overflow: hidden;
            z-index: 1;

            @include for-phone() {
                width: 368px;
            }

            @include for-smaller-phone() {
                width: 366px;
            }
        }
        .blob-bg {
            position: absolute;
            width: 700px;
            height: auto;
            object-fit: cover;
            transform: translateX(9%);

            @include for-phone() {
                width: 598px;
            }

            @include for-smaller-phone() {
                width: 523px;
            }
        }
    }
}
