<main class="main">
    <section class="intro">
        <div class="intro-wrapper">
            <article class="intro-wrapper__labels">
                <h1 class="title">Hello, I'm Govindaraju</h1>
                <h3 class="sub-title">Software engineer (Angular 7+)</h3>
            </article>
            <div class="skills">
                <ul>
                    <li>
                        <img src="assets/images/skills/angular.png" alt="angular" />
                    </li>
                    <li>
                        <img src="assets/images/skills/angular_material.png" alt="angular_material" />
                    </li>
                    <li>
                        <img src="assets/images/skills/rxjs.png" alt="rxjs" />
                    </li>
                    <li>
                        <img src="assets/images/skills/ionic.png" alt="ionic" />
                    </li>
                    <li>
                        <img src="assets/images/skills/ngrx.svg" alt="ngrx" />
                    </li>
                    <li>
                        <img src="assets/images/skills/sass.png" alt="sass" />
                    </li>
                </ul>
            </div>
        </div>
        <figure class="intro__visuals">
            <img class="intro__image" src="assets/images/admin.png" alt="admin-image" />

            <svg class="blob-bg" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path
                    fill="#0F62FE"
                    d="M47.6,-49.9C57.9,-37.3,59.8,-18.7,58.9,-0.9C58,16.9,54.4,33.9,44.2,50C33.9,66.2,16.9,81.5,-0.9,82.4C-18.8,83.3,-37.6,69.8,-53.2,53.7C-68.8,37.6,-81.2,18.8,-79.9,1.3C-78.6,-16.2,-63.7,-32.5,-48.1,-45C-32.5,-57.5,-16.2,-66.3,1.2,-67.5C18.7,-68.8,37.3,-62.4,47.6,-49.9Z"
                    transform="translate(100 100)"
                />
            </svg>
        </figure>
    </section>
</main>
