.header{
    position: absolute;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#fdfbfb, #eceeef);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}